body{
    margin: 0px;
}

nav{
    width: 100%;
    padding-top: 0px;
    
}

ul{
    margin-top: 0px;
}
li{
    display: inline;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 50%;
}

.navbar img{
    width: 50px;
}

.navbar{
    background-color: rgb(32, 126, 32);

}

.navbar li{
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    vertical-align: middle;

}

.navbar li:hover{
    background-color:  rgba(19, 78, 19, 0.918) ;
}

.navbar a{
    margin: auto;
}